*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: row;
    border: 1px solid;
    width: 80%;
    flex-wrap: wrap;
}

.items{
    width: fit-content;
    height: 100px;
    border: 1px solid gainsboro;
}