<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Hello, World!</title>
</head>
<body>
  <header>
    <div class="boxes">
      <div class="box">1</div>
      <div class="box">2</div>
      <div class="box">i am box 3 i am box 3 i am box 3 i am am am am box 3 hello hi suvi</div>
    </div>
    
    <img src="teph.webp">
    this is baby and me
    
    <br>
    <a href="baby.html"><button style="height:150px;width:300px">my baby</button></a>
  </header>
  
</body>
</html>