<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Scrollables</title>
</head>
<body>
    <div id="main">
        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>

        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores enim, sunt quam eligendi delectus atque libero veritatis! Placeat, nostrum distinctio. Quia, cumque. 
            Ut voluptatibus repellat quasi fuga? Soluta, modi eius?
        </div>
    </div>

    <div id="side">
        <div class="box2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Illo perspiciatis totam aliquam! Aut necessitatibus aperiam accusantium minus laboriosam ea dolore distinctio saepe facere eaque deserunt, veniam aspernatur earum amet pariatur?</div>
    </div>
</body>
</html>