*{
    margin:0px;
    box-sizing: 0px;
}

body{
    display:flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
}

header{
    height: 60px;
    background-color: rgb(0, 151, 0);
    display: flex;
    width:100vp;
    align-items: center;
    justify-content: space-between;

    > *{
        color:white;
        margin-left: 20px;
        margin-right: 20px;
    }
}

#selections{
    display: flex;
    gap: 2rem;
    
    a {
        color: inherit;
        text-decoration: none;        
    }

    a:hover{
        color: black;
    }
}

main{
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.post{
    border:0.5px solid rgb(208, 208, 208);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    width: 80%;
    max-height: 100px;
    gap:1rem;
    display: flex;

    > img{
        height: 100px;
        width: 100px;
        border: 0.3px solid rgb(226, 226, 226);
    }
    
}

div[id="suvi"]{
    background-color: pink;
    color: red;
    display: none;
}

#content{
    h4{
        margin-bottom: 0.5rem;
    }
    p {
        text-align: justify;
        margin-left: 20px;
    }
}

