*{
  box-sizing: border-box;
  margin: 0px;
}

body{
  background-color: ghostwhite;
}

header{
  height:80px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  
  > *{
    margin-right: 20px;
    margin-left: 20px;
  }
  
  #right{
    display:flex;
    gap:1rem;
  }
}

main{
  display: flex;
}

#maincontent{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 50px;
  width: 70%;
  
  flex: 1; 
  overflow-y: auto;
}

.post{
  height: fit-content;
  width: 80%;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 0.3rem;
}

#sidecontent{
  width:30%;
}

#popular{
  border: 0.5px solid gray;
  border-radius: 15px;
  padding: 25px;
  min-height: 150px;
  width: 80%;
  height: fit-content;
  background-color: rgb(255, 255, 255);

  > h4{
    color: red;
  }
  > * > li, a{
    color: rgb(238, 0, 230);
    text-decoration: none;

    :hover{
      color: black;
    }
  }
}