#box1{  
  height: 50px;
  width: 50px;
  padding: 20px;
  border: 1px solid;
  background-color:red;
  color:white;
  margin: 10px;
  box-sizing: border-box;
}

#box2{  
  height: 50px;
  width: 50px;
  padding: 20px;
  border: 1px solid;
  background-color:blue;
  color:white;
  margin: 10px;
  box-sizing: content-box;
}