*{
    margin: 0px;
    box-sizing: content-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: blueviolet;
    margin-bottom: 3rem;
}

#title{
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.choices{
    display: flex;
    gap: 3rem;
}

.choice{
    font-size: 100px;
}

#scissor, #rock, #paper{
    height: 100px;
    width: 100px;
    border: 1px solid;
    cursor: pointer;
}

#user_choice{
    font-size: 50px;
}

#opp_choice{
    font-size: 50px;
    color: red;
}

#result{
    font-size: 100px;
    margin-left: 1rem;
}