*{
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 40px 0px 40px;
    box-shadow: 0 4px 10px rgb(255, 0, 0);
}

.title{
    font-family: "Lucida Console";
    color: rgb(255, 7, 7);
}

nav{
    display: flex;
    gap: 2rem;
}

nav p{
    color: white;
    font-size: 20px;
}

main{
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    flex: 1 1 200px;
}

.posts{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.post{
    background-color: rgb(25, 25, 25);
    width: 30%;
    height: fit-content;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    box-shadow: 0 4px 10px rgb(25, 25, 25);
}

#pictainer{
    width: 100%;
    height: 200px;
}

#pictainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side{
    width: 30%;
}

.content{
    #title{
        text-align: justify;
        font-family: Verdana;
    }
}