*{
  margin:0px;
  box-sizing: border-box;
}

.boxes{
  display:flex;
}

#b1{
  height:100px;
  width:100px;
  border:0.5px solid;
}

#b2{
  height:100px;
  width:100px;
  border:0.5px solid;
}

#b3{
  height:100px;
  width:100px;
  border:0.5px solid;
}
