#menu{
    position: relative;
}

#menu button{
    border: none;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
}

#menubtn:hover+ .buttons{
    display: block;
}

.buttons{
    position: absolute;
    left: 0;
    display: none;
    background-color: gainsboro;
    width: fit-content;
}

.buttons p{
    padding: 20px;
}