* {
  margin:0px;
  padding 0px;
  box-sizing:border-box;
}

header{
  height:80px;
  width: 100%;
  background-color: green;
  
  > .header-content{
    padding:10px;
    color:white;
  }
}

.post{
  height:100px;
  border: 0.5px solid black;
  margin: 10px;
  padding:10px;
  
  p{
    padding-top:10px;
    padding-left:10px;
  }
}


