*{
  color:green
}

h1{
  color:blue
}

[src]{
  color:black;
  height:100px;
  width:100px;
}

#group-name, #mem1, #mem2, #mem3{
  color:pink;
}

#mem1::selection{
  color:orange;
}

#mem2::after{
  content:" (sasoke)";
  color:blue;
}

#mem3:hover{
  color:black;
}

#race-list li::marker{
  content:"x ";
}