*{
  color:green
}

h1{
  color:blue
}

[src]{
  color:black;
  height:100px;
  width:100px;
}

#group-name, #mem1, #mem2, #mem3{
  color:pink;
}

#mem1::selection{
  color:orange;
}

#mem2::after{
  content:" (sasoke)";
  color:blue;
}

#mem3:hover{
  color:black;
}

#race-list li::marker{
  content:"x ";
}

#boxes p{
  color: black;
  background-color:gray;
  height:100px;
  width:100px;
  margin:10px;
  padding: 30px;
  box-sizing: border-box;
}

#family > p{
  color:blue
}

#stephen + p{
  color:red;
}

#black ~ h4{
  color:black;
}

#black ~ p{
  padding-left: 25px;
}

